body {
    margin: 20px;
    padding: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #494949;
    color: white;
    background-image: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YWZyaWNhbiUyMG5hdHVyZXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=800&q=60');
}

header {
    text-align: center;
    padding: 20px;
    background-color: #000000;
    color: white;
}

h1 {
    font-size: 48px;
    margin: 0;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #000000;
    color: white;
    margin-top: 20px;
}
